
body{
  font-size:14px;	
  padding: 15px;
  /*font-family: 'Open Sans', sans-serif;;*/
}

h1, h2, h3, h4{font-family: 'Open Sans', sans-serif;}
img { 
  max-width: 100%; 
  height: auto;
}

.inlinelist { 
	list-style-type:square;
    padding-left:15px; 
}
a:hover{
  text-decoration: none;
}

h1{box-shadow: 0px 4px 8px grey;}
h3{border-bottom:solid black 1px;}

.course-name {
	font-style:italic;
}

.hvrtype0:hover {
background-color: Honeydew;
}

.hvrtype1:hover {
	background-color: Snow;
}

div.polaroid {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

h3:hover {
    border: 2px solid #dd;
    border-radius: 3px;
    box-shadow: 0 4px 8px 1px rgba(113,178,189, 0.5);
    transition: all 200ms ease-out;
}
