* {
  font-family: 'Open Sans';
}

.row {
  display: flex;
}

.col-mn-1 {
  padding:10px;
  flex: 50%;
}

.col-mn-2 {
  float: left;
  padding:5px;
  width: 33.33%;
}

img { 
  width: 100%; 
  height: 50%;
}

p,li {
	font-size:12px;
}

.inlinelist { 
	list-style-type:square;
    padding-left:10px; 
}
h2{border-bottom:solid black 1px;}

.course-name {
	font-style:italic;
}
