
body{
  padding: 15px;
  color: black;
  font-family: 'Open Sans', sans-serif;;
}


img { 
  max-width: 100%; 
  height: auto;
}

p,li {
	font-size:12px;
}

.inlinelist { 
	list-style-type:square;
    padding-left:15px; 
}


h2{border-bottom:solid black 1px;}

.course-name {
	font-style:italic;
}
